<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JunYeong's Blog</title>
</head>
<body>
    <header>
        <div class="logo">Jun.log</div>
        <div class="menu">
        </div>
    </header>

    <div class="container">

        <div class="post">
            <div class="title"></div>
            <div class="text"></div>
        </div>

    </div>

    <footer> just for study :) </footer>
</body>
</html>