<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JunYeong's Blog</title>
</head>
<body>
    <header>
        <a href="/"><div class="logo">Jun.log</div></a>
        <div class="menu">
        </div>
    </header>

    <div class="container">
        {% for post in posts %}
        <div class="post">
            <div class="title"><a href="">{{post.title}}</a></div>
            <div class="text">{{post.text|linebreaksbr}}</div>
            <div class="published-date">{{post.published_date}}</div>
        </div>
        {% endfor %}
    </div>

    <footer> just for study :) </footer>
</body>
</html>